@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"].</p>

<p>
    <strong>"Foco total no aprendizado de tecnologias Web"</strong>
    <p>
        <strong>"Mais importante que saber, é querer aprender sempre!!!"</strong>
    </p>
</p>
